# We are using a whitelist instead of blacklist here so exclude all.
**

# Cargo configuration.
!.cargo/*
!Cargo.toml
!Cargo.lock
!LICENSE

# Build configuration.
!dist/bin/*
!dist/docker/dev/.bashrc
!Makefile
!build.rs

# Source code.
!src/*
!src/**
!proto/*